.hero__content__block-info-icon{
    max-width: 45px;
}

.hero__content__block-info{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 70px 0 0 0;
}

.hero__content__block-info_text{
    color: #2D170C;
    font-size: 14px;
    font-weight: 400;
}

.hero__content__block-info__block-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero__content__block-info__block-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero__content__block-info__block-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero__content__block-info__block-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero__content__block-info__block-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero__content__block-title-text{
    color: #000;
    font-size: 32px;
    font-weight: 800;
}


.hero__content__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hero__content__block-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero__content__block-selection__select-1{
    border-radius: 6px;
    background: #FFF7D9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.hero__content__block-selection__select-2{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.hero__content__block-selection__select-1__block-2{
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 10px 0 0 0;
}

.hero__content__block-selection__select-1__block-2__text-1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero__content__block-selection__select-1__block-2__text-2{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero__content__block-selection__select-1__block-3{
    padding: 30px 0 0 0;
}

.hero__content__block-selection__select-2__block-1__block-1-title{
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.selection-text{
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.hero__content__block-selection__select-2__block-1{
    display: flex;
    flex-direction: row;
    gap: 130px;
    border-radius: 6px;
    background: #FFF7D9;
    padding: 20px;
}

.hero__content__block-selection__select-1__block-3{
    padding: 90px 0 0 0;
}

.hero__content__block-selection__select-2__block-2{
    display: flex;
    flex-direction: row;
    gap: 130px;
    border-radius: 6px;
    background: #FFF7D9;
    padding: 20px;
}

.hero__content__block-selection__select-2__block-3{
    display: flex;
    flex-direction: row;
    gap: 130px;
    border-radius: 6px;
    background: #FFF7D9;
    padding: 20px;
}

.hero__content__block-selection__select-2__block-1__block-1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero__content__block-selection__select-2__block-2__block-1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero__content__block-selection__select-2__block-3__block-1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero__content__block-selection__select-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero__content__block-selection__select-3__block-1{
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: #FFF7D9;
    padding: 20px;
}

.hero__content__block-selection__select-3__block-2{
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background: #FFF7D9;
    padding: 20px;
}

.hero__content__block-selection__select-3__block-1__block-1{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.hero__content__block-selection__select-3__block-1__block-1-title{
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.selection-text__select-3{
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.hero__content__block-selection__select-3__block-1{
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.hero__content__block-selection__select-3__block-2{
    display: flex;
    flex-direction: row;
    gap: 60px;
}